[Unit]
Description=Chromecast Control

[Service]
EnvironmentFile=/etc/environment
ExecStart=/home/gavin/bin/castd
Restart=always

[Install]
WantedBy=default.target
