[Unit]
Description=Teams Notify
Requires=xfce4-session.target
After=xfce4-session.target

[Service]
ExecStart=/home/gavin/bin/services/teams-notifyd

[Install]
WantedBy=xfce4-session.target
