[Unit]
Description=Userscript Bridge
Requires=xfce4-session.target
After=xfce4-session.target

[Service]
EnvironmentFile=/home/gavin/.config/user-dirs.dirs
Environment=NODE_PATH=/home/gavin/.local/lib/node_modules
ExecStart=/home/gavin/bin/services/userscript-bridged
KillSignal=SIGINT

[Install]
WantedBy=xfce4-session.target
